@use "../../styles/base";

#sidebar {
  flex-basis: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: base.$grey900;
  padding: base.$spacing-500 base.$spacing-300 base.$spacing-500 0;
  border-top-right-radius: base.$spacing-200;
  border-bottom-right-radius: base.$spacing-200;

  .sidebarContentContainer {
    display: flex;
    flex-direction: column;
    gap: base.$spacing-500;
  }

  #sidebarLogo {
    width: base.$spacing-100;
    height: base.$spacing-100;
    img {
      height: 100%;
      width: 100%;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: base.$spacing-100;
  }
}
